{% extends "base.html" %}
{% block title %}COW Plus | Downloads{% endblock %}
{% block linkdownload %}class = "active"{% endblock %}
{% block content %}
<div id = "intro">
	<p>On this page, you can access the downloadable versions of the <a href="https://journals.sagepub.com/doi/full/10.1177/0022002718824635" target = "_blank" rel="noreferrer noopener">NewGene</a> or <a href="https://www.tandfonline.com/doi/abs/10.1080/03050620008434965" target = "_blank" rel="noreferrer noopener">EuGene</a> software. For guidance on how to use the software, please see the instructional videos on the <a href="https://www.youtube.com/@NewGeneDataMangement" target = "_blank" rel="noreferrer noopener">NewGene Youtube Channel</a>.</p>
	<p>Note: The macOS installer is not up-to-date.</p>
</div>
<div id = "downloadButtons">
	<form action="https://drive.google.com/file/d/1LG3Rpg_XG-1oX_b_MYNO7s30xSlaJej8/view?usp=share_link" style="display:inline-block" target="_blank">
		<button type="submit" class="btn btn-primary btn-lg">Windows</a></button>
	</form>
	<form action="https://www.dropbox.com/s/uks7fi3cowjs27u/NewGene-2.0.pkg?dl=0" style="display:inline-block" target="_blank">
		<button type="submit" class="btn btn-primary btn-lg">macOS</a></button>
	</form>
	<form action="https://eugenesoftware.la.psu.edu/" style="display:inline-block" target="_blank">
		<button type="submit" class="btn btn-primary btn-lg">EuGene</a></button>
	</form>
</div>
{% endblock %}