<!DOCTYPE html>
<html lang = "en">
	<head>
		<title> COW Plus Online </title>
		<meta charset = "utf-8" />
		<meta name="description" content="COW Plus Online data manager is online platform for managing data related to international relations, primarily international conflict. If you are conducting research on war or international security, this platform will help you create a comprehensive and easily manipulable dataset for quantitative analysis.">
		<meta name="keywords" content="COW Plus Online, Professor Poast COW Plus Online, data management software ir, correlates of war, international relations data">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body>
		<header>
			<h1 class="headerone">test</h1>
			<form action="#" method="post">
				<p>Name: </p>
				<p><input type="text" name="testname" /></p>
				<p><input type="submit" value="submit" /></p>
				<br>
			</form>
		</header>
	</body>
</html>